<h1>投稿一覧</h1>
  
      <tr>
        <td>
          <%#= link_to tavern.name,tavern_path(tavern) %>
        </td>
        <td>
          <%= @bars.title %>
        </td>
        <td>
          <%= @bars.body %>
        </td>
      </tr>
