<h1>Bar::Bars#show</h1>
<p>Find me in app/views/bar/bars/show.html.erb</p>

<h1>投稿詳細</h1>
     <tr>
        <td>
          <%= @bar.bar_name %>
        </td>
        <td>
          <%= @bar.title %>
        </td>
        <td>
          <%= @bar.body %>
        </td>