
<div class="container">
 <div class="row">
  <div class="col-md-8 offset-md-2">

  <h5><%= @bar.bar_name %>の詳細</h5>
    <table class="table table-striped">
      <tr>
      <th>タイトル</th>
      <th>投稿内容</th>
     </tr>
   <% @tweets.each do |f| %>
      <tr>
        <td><%= f.title %></td>
        <td><%= f.body %></td>
      </tr>
　 <% end %>
   </table>
  </div>
 </div>
</div>