<h1>投稿詳細</h1>
     <tr>
        <td>
          <%= @tavern.name %>
        </td>
        <td>
          <%= @tavern.title %>
        </td>
        <td>
          <%= @tavern.body %>
        </td>
      </tr>
