<h1> <%= @user.name_first %><%= @user.name_second %>さんのマイページ</h1>
<th><%= link_to "編集する", edit_user_path(current_user), class: "btn btn-success"  %></th>
<p><%= link_to "いいねした投稿", favorites_user_path(@user) %></p>

