<div class="container">
 <div class="row">
  <div class="col-md-8 offset-md-2">

  <h5>投稿一覧</h5>
    <table class="table table-striped">
      <tr>
       <th><%= @genre.name %>一覧</th>
     </tr>
     
  <thead>
    <tr>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>
  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= link_to tweet.title,tweet, class: "tweet_#{tweet.id}" %></td>
        <td><%= tweet.body %></td>
      </tr>
  </tbody>
　 <% end %>
    </table>
  </div>
 </div>
</div>

          