
<div class="container">
 <div class="row">
  <div class="col-md-8 offset-md-2">

  <h5>会員一覧（ユーザー）</h5>
    <table class="table table-striped">
      <tr>
      <th>会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
     </tr>
   <% @users.each do |f| %>
      <tr>
        <td><%= f.id %></td>
<!--モデルに追加-->
        <td><%= link_to f.name_first,admin_user_path(f.id),class: "underline" %></td>
        <td><%= f.email %></td>
        <td>
          <% if f.is_deleted %>
          <div class="text-secondary">退会</div>
          <% else %>
          <div class="text-success">有効</div>
          <% end %>
        </td>
      </tr>
　 <% end %>
   </table>
  </div>
 </div>
</div>
